NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=465
EMAIL_SMTP_SECURE=true
HIS_EMAIL_WORKSPACE_NAME=HIS Staff Workspace
HIS_EMAIL_WORKSPACE_ADDRESS=benjamin.allen@kl.his.edu.my
HIS_EMAIL_WORKSPACE_SMTP_USER=
HIS_EMAIL_WORKSPACE_SMTP_PASS=
HIS_EMAIL_DUTIES_NAME=HIS Staff Duties
HIS_EMAIL_DUTIES_ADDRESS=duties@kl.his.edu.my
HIS_EMAIL_DUTIES_SMTP_USER=
HIS_EMAIL_DUTIES_SMTP_PASS=
